/* ----- styles.css ------ */


:root {
	--true: ;
	--false: initial;
}


@media (prefers-color-scheme: dark) {
  :root {
    --is-dark: var(--true);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --is-dark: var(--false);
  }
}

:root {
  --lt-color-foreground:  hsl(0  ,  0%, 07%);
  --lt-color-background:  hsl(0  ,  0%, 85%);
  --lt-color-heading:     hsl(220, 60%, 40%, 0.7);
  --lt-color-heading-50:  hsl(220, 60%, 40%, 0.4);

  --dk-color-foreground:  var(--is-dark)  hsl(  0,  0%, 80%);
  --dk-color-background:  var(--is-dark)  hsl(  0,  0%, 15%);
  --dk-color-heading:     var(--is-dark)  hsl(212, 80%, 42%, 0.8);
  --dk-color-heading-50:  var(--is-dark)  hsl(212, 80%, 42%, 0.3);

  --color-foreground:     var(--dk-color-foreground, var(--lt-color-foreground));
  --color-background:     var(--dk-color-background, var(--lt-color-background));
  --color-heading:        var(--dk-color-heading   , var(--lt-color-heading));
  --color-heading-50:     var(--dk-color-heading-50, var(--lt-color-heading-50));

  --color-body:       var(--color-foreground);
  --color-link:       var(--color-heading);
  --color-link-hover: var(--color-heading-50);

  --font-serif:       Spectral, Georgia, serif;
  --font-sans-serif:  'neue-kabel', sans-serif;
  --font-mono:        monospace;
  --font-body:        var(--font-serif);
}


:root {
  --font-heading: 'Comfortaa';
  --font-heading: 'Helvetica Neue';
  --font-heading: 'neue-kabel';
  --font-heading: 'Fredericka the Great';
  --font-heading: 'Gloria Hallelujah';
  --font-heading: 'Special Elite';
}


html {
  box-sizing: border-box;
  font-size: 100%;
  overflow: scroll;
}

body {
  font-family: var(--font-body);
  font-weight:  400;
  line-height: 1.5;
  color: var(--color-body);
  background-color: var(--color-background);
  scroll-behavior: smooth;
}


a,
a:visited
 {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}


/* ----- layout ------ */

.one-col-grid {
  display: grid;
  grid-template-columns: minmax(1rem, 1.3fr) minmax(25ch, 55ch) minmax(1rem, 1.3fr);
  grid-template-rows: auto;
  grid-row-gap: inherit;
  grid-column-gap: inherit;
  grid-template-areas:
  "... head ..."
  "... nav  ..."
  "... main ..."
  "... foot ...";
  hyphens: auto;
  overflow: hidden;
}

/*  page header */

header {
  display: grid;
  grid-area: head;
}


/*  Main content */

main {
  grid-area: main;
  /* overflow: scroll; */
}

/*  Navigation */
nav {
  grid-area: nav;
}


/*  footer  */

footer {
  grid-area: foot;
  border-top: 1px solid var(--color-heading-50);
  font-family: var(--font-heading);
  font-size:  .6em;
  font-weight: 400;
  display: flex;
  justify-content: space-between ;
  margin-bottom: 7vh;
  padding-top: 1em;
}

footer p {
  margin: 0;
  display: inline-block;
}
footer p,
footer p a {
  text-decoration: none;
  color: var(--color-heading);
}

.button-bar {
  display: flex;
  justify-content: space-between ;
  margin-top: 1em;
  margin-right: 50vh
}

/*  headings  */

/***
  naked h1: home page heading
 ***/

h1 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-size: 3rem;
  margin: 0;
  line-height: 1;
  width: max-content;
  margin-bottom: 2rem;
}

.post h1 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-size: 3rem;
  margin: 0;
  width: 100%;
}


/***
  amoxtentli: ul container
 ***/

ul.amoxtentli {
  padding: 0;
}


.amoxtentli li {
  list-style: none;
  margin-bottom: 2em
}


.amoxtentli header,
.amoxtentli header a,
.amoxtentli header a:hover {
  font-family: var(--font-heading);
  font-weight: normal;
  font-size: 1.5rem !important;
  color: var(--color-heading);
  text-decoration: none;
  margin: 0;
}


.amoxtentli section {
  font-weight: 300;
  font-size:  1em;
  line-height: 1.63;
  font-family: var(--font-body);
  margin-bottom: 1em;
  letter-spacing: -0.02em;
}

.amoxtentli footer {
  grid-area: unset;
  width: max-content;
  font-family: var(--font-heading);
  font-weight: 400;
  font-size:  .8em;
  margin:  0;
  border-top: 0.5px solid var(--color-heading);
  padding: 0 0 0 0;
  color: var(--color-link);
}

.amoxtentli footer a {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-heading);
}

.amoxtentli footer a:hover {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-link-hover);
}


/***
  individual post pages
 ***/

.post h1 a {
  text-decoration: none;
  color: var(--color-heading);
}

.newlines p {
  margin-top: 0;
  margin-bottom: 0;
}

.newlines p:first-of-type {
  margin-top: revert;
}

.post footer,
.post footer a {
  color: #aaa;
  text-decoration: none;
  border-top: none;
  font-family: var(--font-sans-serif);
  font-weight: 200;
  font-size:  1em;
}

.settings,
.settings a {
  font-size: 1.5em;
  text-decoration: none;
}

.settings a:hover {
  color: var(--color-foreground)
}
